* {
  font-family: sans-serif;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  width: min(580px, 98%);
  margin: auto;
  transition: grid-template .3s linear;
}
/*Rows*/
.grid:has(.item:nth-child(6n - 5):hover) {
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr;
}
.grid:has(.item:nth-child(6n - 4):hover) {
  grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr;
}
.grid:has(.item:nth-child(6n - 3):hover) {
  grid-template-columns: 1fr 1fr 3fr 1fr 1fr 1fr;
}
.grid:has(.item:nth-child(6n - 2):hover) {
  grid-template-columns: 1fr 1fr 1fr 3fr 1fr 1fr;
}
.grid:has(.item:nth-child(6n - 1):hover) {
  grid-template-columns: 1fr 1fr 1fr 1fr 3fr 1fr;
}
.grid:has(.item:nth-child(6n):hover) {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 3fr;
}
/*columns*/
.grid:has(.item:nth-child(n):nth-child(-n + 6):hover) {
  grid-template-rows: 2fr 1fr 1fr 1fr;
}
.grid:has(.item:nth-child(n + 7):nth-child(-n + 12):hover) {
  grid-template-rows: 1fr 2fr 1fr 1fr;
}
.grid:has(.item:nth-child(n + 13):nth-child(-n + 18):hover) {
  grid-template-rows: 1fr 1fr 2fr 1fr;
}
.grid:has(.item:nth-child(n + 19):nth-child(-n + 24):hover) {
  grid-template-rows: 1fr 1fr 1fr 2fr;
}
.grid .item {
  display: grid;
  grid-template-columns: 48px auto;
  grid-template-rows: 48px 1fr;
}
.grid .grid__title {
  opacity: 0;
  align-self: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  transition: opacity .3s linear .2s;
}
.grid .grid__description {
  grid-column: -1 / 1;
  max-height: 0;
  pointer-events: none;
}
.grid .item:hover > .iconify {
  color: tomato;
  transition: color .3s linear .2s;
}
.grid .item:hover .grid__title {
  opacity: 1;
  transition: opacity .3s linear .2s;
}
.grid .grid__description > * {
  translate: 12px 6px;
  opacity: 0;
  transition: opacity .15s linear 0s, translate .15s linear 0s;
}
.grid .item:hover .grid__description > * {
  opacity: 1;
  translate: 12px 8px;
  transition: opacity .3s linear .4s, translate .3s linear .4s;
}
.grid .item:hover .grid__description > *:nth-child(2) {
  transition-delay: .4s;
}
.grid .item:hover .grid__description > *:nth-child(3) {
  transition-delay: .5s;
}
.grid .item:hover .grid__description > *:nth-child(4) {
  transition-delay: .6s;
}
